.text-container {
    width: 100%;
    text-align: center;
    color: black;
    margin: 0px 0px 40px 0px;
}

h2 {
    font-size: 23px;
    font-family: inherit;
    font-weight: 650;
    display: block;
    margin-top: 28px;
    margin-bottom: 28px;
}