<div class="footer-container">
    <div class="footer">
        <div class="first-column">
            <div class="icon">
                <img [src]="logo">
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="https://www.miaprova.com/blog">Miaprova Blog</a></li>
                    <li><a href="https://developers.adobetarget.comgi" target="_blank">Adobe Target Developers</a></li>
                    <li><a href="https://experienceleague.adobe.com/docs/target/using/release-notes/release-notes.html?lang=en#" target="_blank">Current Adobe Target Release Notes</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>