<div class="footer-container">
    <div class="footer">
        <div class="first-column">
            <div class="icon">
                <h2>LUMA</h2>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Men</a></li>
                    <li><a href="">Women</a></li>
                    <li><a href="">Equipment</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href=""> Comunity</a></li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <app-button [text]="rideToTheTop" (click)="scrollTop()" [displayArrowUp]="displayArrowUp"></app-button>
        </div>
    </div>
</div>