    .header-container {
        background-color: #666;
        margin-right: auto;
        margin-left: auto;
        padding-left: 12px;
        padding-right: 12px;
        height: 37px;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        .nav {
            align-content: center;
            margin-left: auto;
        }
        li {
            color: white;
        }
        a {
            color: white;
            font-weight: 800;
            font-size: 11px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 8px 9px;
            display: block;
        }
        i {
            height: 10px;
            width: 5px;
        }
    }