h4 {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    text-align: left;
}

h4 small {
    color: #a7a7a7;
    font-size: 12px;
    text-transform: initial;
    font-weight: 400;
    margin-top: 6px;
    display: block;
}

div {
    height: 100px;
    width: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ed6b1c;
    position: relative;
    right: 20px;
    bottom: 5px;
    font-size: 40px;
}