<div class="subHeader">
    <ul>
        <li>
            <a href="localhost:4200">
                <img ng-src="src\img\{{img}}">

            </a>
        </li>
        <li>
            <a href="">
                blog
            </a>
            <ul class="blog">
                <li><a href=""> Beginners Luck</a></li>
                <li><a href=""> Warming Up</a></li>
                <li><a href=""> Keep Moving</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                men
            </a>
        </li>
        <li>
            <a href="">
                women
            </a>
        </li>
        <li>
            <a href="">
                equipment
            </a>
        </li>
        <li>
            <a href="">
                about us
            </a>
            <ul class="about-us">
                <li><a href=""> Contact Luma</a></li>
                <li><a href=""> Customer Service</a></li>
                <li><a href=""> Luma Privacy Policy</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                products
            </a>
            <ul class="products">
                <li><a href=""> Women</a></li>
                <li><a href=""> Man</a></li>
                <li><a href="">Gear</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                community
            </a>
            <ul class="community">
                <li><a href="">Trending</a></li>
                <li><a href=""> Forum</a></li>
                <li><a href=""> Files</a></li>
                <li><a href="">Catalog</a></li>
                <li><a href=""> Assignments </a></li>
                <li><a href=""> Blog</a></li>
                <li><a href=""> Questions</a></li>
                <li><a href=""> Ideas</a></li>
                <li><a href=""> Calendar</a></li>
                <li><a href="">  Groups</a></li>
                <li><a href=""> Members</a></li>


            </ul>
        </li>
    </ul>

</div>