<div class="subHeader">
    <ul>
        <li>
            <a href="localhost:4200">
                <img [src]="logo">
            </a>
        </li>
        <li>
            <a href="https://www.miaprova.com/blog">
                miaprova blog
            </a>
        </li>
        <li>
            <a href="https://developers.adobetarget.comgi" target="_blank">
                adobe target developers
            </a>
        </li>
        <li>
            <a href="https://experienceleague.adobe.com/docs/target/using/release-notes/release-notes.html?lang=en#" target="_blank">
                current adobe target release notes
            </a>
        </li>
        <li>
            <a href="">
                about
            </a>
        </li>


    </ul>

</div>